<div class="container-fluid jobshow">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3 class="text-center"><%= @job.title %> at <%= @job.company_name %></h1>
    <hr>
    <div class="job-content">
      <p>
        <span>职位描述：</sapn> <br>
        <%= simple_format(@job.description, class: "job-description") %>
      </p>
      <div class="divider"></div>
      <p>
        <span>工作地点：</span> <%= @job.place %>
      </p>
      <p>
        <span>发布时间</span>: <%= time_ago_in_words(@job.created_at) %> ago
      </p>
      <p>
        <span>Contact:</span> <%= @job.contact_email %>
      </p>
      <div class="text-center">
        <%= link_to("马上申请", new_job_resume_path(@job), class: "btn btn-primary") %>
      </div>
    </div>

  </div>
</div>
