<!-- <div class="container-fluid jobshow">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2"> -->
<!-- <div class="col-md-6 col-md-offset-3 job-show">
	<div class="job-item-title col-md-12">
    <h2 class="job-title"><%= @job.title %></h2>
    <br>
    <h4 class="job-company-name"><%= @job.company_name %></h4>
  </div>
    <div class="job-content">
      <p>
        <h3>职位描述：<h3> <br>
        <p><% @job.description %></p>
      </p>
      <div class="divider"></div>
      <p>
        <span style="font-size: 1.5em;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> <%= @job.place %></span>
      </p>
      <p>
        <span style="font-size: 1.5em;"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(@job.created_at) %>
        ago</span>
      </p>
      <p>
        <span>Contact:</span> <%= @job.contact_email %>
      </p>
      <div class="text-center">
        <%= link_to("马上申请", new_job_resume_path(@job), class: "btn btn-primary") %>
      </div>
    </div>

  </div>
</div> -->

<div class="col-md-6 col-md-offset-3 job-show">
	<div class="job-item-title col-md-12">
		<h2 class="job-title" style="text-align:center"><%= @job.title %></h2>
		<br>
		<h4 class="job-company_name"><%= @job.company_name %></h4>
	</div>
	<div class="job-div-detail">
		<p style="font-size: 1.5em;">薪资：<span class="fa fa-rmb"></span><%= @job.wage_lower_bound %>~<%= @job.wage_upper_bound %></p>
		<p><span style="font-size: 1.5em;"><i class="fa fa-paper-plane-o" aria-hidden="true" style="color: black;"></i><%= @job.place %></span></p>
		<span style="font-size: 1.5em;"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(@job.created_at)%> ago</span>
	</div>
	<hr>
	<div class="job-div-description">
		<h3>职位描述</h3>
		<p><%= @job.description %></p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3 job-div-button">
	<%= link_to("投放简历", new_job_resume_path(@job), class: "btn btn-primary btn-block") %>
</div>
