<style>
body {
    background-image: url("https://ww1.sinaimg.cn/large/006y8lVagy1fby3ngn833j318g0togn3.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;

}
</style>

<div class="col-md-6 col-md-offset-3 job-show" style="  border-top-right-radius:30px;border-top-left-radius:30px;  border-bottom-right-radius:30px;
  border-bottom-left-radius:60px;">
  <div class="col-md-12">
    <div class="row" style="margin-top:8px;margin-left:60px;">
      <div class="col-md-12 col-md-offset-10">
          <%= link_to('<span class="glyphicon glyphicon-remove-sign"></span> Back'.html_safe,jobs_path ) %>
      </div>
    </div>

<% @jobs.each do |job| %>
 <div class="job-item-title col-md-12" style="border:1px solid;border-color:transparent">
   <h3 class="job-title" style="text-align:center"><%= link_to(job.title, job_path(job))%></h2>
 </div>
 <div class="job-div-detail">
    <h4 class="job-div-company_name" style="text-align:center"><span class="fa fa-ship"></span>  <%= job.company_name %></h4>
 </div>
  <p style="font-size: 1.5em;">薪资：<span class="fa fa-rmb"></span><%= job.wage_lower_bound %>~<%= job.wage_upper_bound %></p>
 <p style="font-size:.0.56em;text-align:right"><span>竞聘人数：</span><%= job.resumes.count %></p>

 <hr>
<% end %>

</div>
</div>
