<style>
 body{
   background-image: url('https://ww1.sinaimg.cn/large/006y8lVagy1fby3ngn833j318g0togn3.jpg')
 }
</style>

<div class="col-md-6 col-md-offset-3 job-show" style="border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;>
	<div class="job-item-title col-md-12">
  <div class="jobinfo">
  <h3>投递简历到 <%= @job.title %></h3>

   <hr>

  <%= simple_form_for [@job,@resume] do |f| %>

   <%= f.input :content %>
   <%= f.input :attachment %>
   <%= f.submit "送出" %>
  <% end %>
  </div>
</div>
</div>
